
# BEGIN WordPress
# ทิศทาง (เส้น) ระหว่าง "จุดเริ่มต้น WordPress" และ "จุดสิ้นสุด WordPress" จะถูกสร้างขึ้นมา
# โดยอัตโนมัติและควรจะถูกแก้ไขได้ด้วยตัวกรองของ WordPress เท่านั้น
# การเปลี่ยนแปลงใดๆ ที่กระทำต่อทิศทางระหว่างเครื่องหมายจะถูกเขียนทับ
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /yasothonitservice/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /yasothonitservice/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# ทิศทาง (เส้น) ระหว่าง "จุดเริ่มต้น Simply Static" และ "จุดสิ้นสุด Simply Static" จะถูกสร้างขึ้นมา
# โดยอัตโนมัติและควรจะถูกแก้ไขได้ด้วยตัวกรองของ WordPress เท่านั้น
# การเปลี่ยนแปลงใดๆ ที่กระทำต่อทิศทางระหว่างเครื่องหมายจะถูกเขียนทับ
<Files "C:\xampp\htdocs\yasothonitservice/wp-content/uploads\simply-static\f09a75cda398363a10e08e6958f5a74d-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static